version: 2.1

orbs:
  standard-cicd: datawowio/standard-cicd-orb@dev:ci-pipeline

defaults: &defaults
  context: CHATWOW_AWS
  registry_type: "ecr"
  ecr_repository_name: "chatwow/backend"

workflows:
  build-deploy:
    jobs:
      - standard-cicd/build-and-push-amd64:
          <<: *defaults
          dockerfile_path: dockerfile
          filters:
            branches:
              only:
                - main
      - standard-cicd/build-and-push-arm64:
            <<: *defaults
            dockerfile_path: dockerfile
            filters:
              branches:
                only:
                  - main
      - standard-cicd/manifest-merge:
          <<: *defaults
          requires:
            - standard-cicd/build-and-push-amd64
            - standard-cicd/build-and-push-arm64
          filters:
            branches:
              only:
                - main
      - standard-cicd/deploy:
          <<: *defaults 
          eks_cluster_name: datawow-staging
          namespace: chatwow
          helm_version: 3.18.2
          deploy_env: dev
          release_name: "chatwow-backend"
          helm_location: "helm/chatwow-backend"
          requires:
            - standard-cicd/manifest-merge
          filters:
            branches:
              only:
                - main
